.btn {
  padding: var(--spacing-150);
  border: none;
  border-radius: var(--spacing-100);
  width: 100%;
  text-align: center;
  text-decoration: none;

  background-color: var(--grey-700);
  color: var(--white);

  &:hover {
    color: var(--grey-700);
    background-color: var(--green);
  }
}
