.social-links-profile {
  display: grid;
  grid-gap: var(--spacing-300);
  padding: var(--spacing-300);
  background-color: var(--grey-800);
  border-radius: var(--spacing-150);
}
.social-links-profile--figure {
  display: flex;
  justify-content: center;

  > img {
    border-radius: 100%;
  }
}

.social-links-profile--header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-50);
}

.social-links-profile--header--title {
  color: var(--white);
  text-align: center;
}
.social-links-profile--header--location {
  color: var(--green);
}

.social-links-profile--description {
  color: var(--white);
  text-align: center;
}

.social-links-profile--socials-list {
  display: grid;
  grid-gap: var(--spacing-200);
}
