main {
  background-color: var(--grey-900);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--spacing-300);
}

footer {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
