.text-preset-1 {
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: 0;
  font-weight: 600;
}
.text-preset-2 {
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0;
  font-weight: 400;
}
.text-preset-2-bold {
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0;
  font-weight: 700;
}
